/* 
====== 
Variables 
======
*/

:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: coral;
    position: relative;
}

nav {
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: teal; */
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 200px;
    height: 100vh;
    z-index: -10;
    padding-top: 70px;
}

nav.active {
    z-index: 10;
    transform: translateX(0);
}

nav.active nav ul {
    list-style: none;
    margin-top: 30px;
}

nav ul > li {
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 10px 0 0 15px;
    background-color: rgba(0, 0, 0, 0.1);
}
nav ul > li:hover {
    background-color: thistle;
}

nav ul > li > a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

#hamburger {
    z-index: 10;
}

#hamburger {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    border: 2px solid black;
    right: 10vw;
    top: 20px;
}
#hamburger:hover {
    cursor: pointer;
}

.hamburger-line {
    height: 6px;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    background-color: black;
    transition: all 0.6s ease;
}
.hamburger-line:nth-child(1) {
    top: 20%;
}
.hamburger-line:nth-child(2) {
    top: 44%;
}
.hamburger-line:nth-child(3) {
    top: 68%;
}
.active > .hamburger-line:nth-child(1) {
    top: 44%;
    transform: rotate(45deg);
}
.active > .hamburger-line:nth-child(2) {
    width: 0;
    margin-left: 50%;
}
.active > .hamburger-line:nth-child(3) {
    top: 44%;
    transform: rotate(-45deg);
}

.hero-image {
    background: url('./assets/bremerhaven.jpg') no-repeat center bottom;
    background-size: cover;
    height: 300px;
}

#map-container {
    /* display: flex; */
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
}

#map-container img.active {
    opacity: 1;
}

#map-container > :nth-child(1) {
    width: 85vw;
    height: auto;
    /* height: 100vh;
    width: auto; */
}

.picto-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 19%;
}

.picto-container.close {
    cursor: pointer;
}

.picto-container:hover {
    cursor: pointer;
}

.picto-container > img {
    width: 13vw;
    height: auto;
    /* height: 13vh;
    width: auto; */
    opacity: 0.7;
    transition: opacity 0.5s ease;
}
.picto-container > h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: darkslateblue;
}

.picto-container:nth-child(2) {
    top: 8%;
}
.picto-container:nth-child(2) h4 {
    bottom: -18%;
}
.picto-container:nth-child(3) {
    top: 30%;
}
.picto-container:nth-child(3) h4 {
    bottom: -25%;
}

.picto-container:nth-child(4) {
    top: 50%;
}
.picto-container:nth-child(4) h4 {
    bottom: -12%;
}
.picto-container:nth-child(5) {
    top: 72%;
}
.picto-container:nth-child(5) h4 {
    bottom: -15%;
}

.info {
    display: none;
    position: absolute;
    /* width: 50px;
    height: 20px; */
    padding: 0.5rem;
    background-color: lightseagreen;
    text-align: center;
    border: 1px solid red;
}

.info.active {
    display: block;
    cursor: pointer;
}
/* Gebäude */
.info:nth-of-type(5) {
    top: 26%;
    left: 20%;
}
.info:nth-of-type(6) {
    top: 45%;
    left: 37%;
}
.info:nth-of-type(7) {
    top: 37%;
    left: 85%;
}
/* Verkehr & Wege */
.info:nth-of-type(8) {
    top: 34.5%;
    left: 39%;
}
.info:nth-of-type(9) {
    top: 53%;
    left: 44%;
}
.info:nth-of-type(10) {
    top: 37%;
    left: 78%;
}
/* Wirtschaft */
.info:nth-of-type(11) {
    top: 30.5%;
    left: 32%;
}
.info:nth-of-type(12) {
    top: 36.5%;
    left: 40%;
}
.info:nth-of-type(13) {
    top: 50%;
    left: 43%;
}
/* Stadt Grün */
.info:nth-of-type(14) {
    top: 39.5%;
    left: 77%;
}
.info:nth-of-type(15) {
    top: 91%;
    left: 51%;
}

footer {
    height: 50px;
    background-color: darkslategray;
    color: white;
    padding: 0.8rem;
}
