/* 
====== 
Variables 
======
*/

:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hero-image {
    background: url('./assets/bremerhaven.jpg') no-repeat center bottom;
    background-size: cover;
    height: 300px;
}

ul.nav {
    list-style: none;
}

.nav > li {
    display: inline-block;
    padding: 0.5rem;
}

#map-container {
    display: inline-block;
    position: relative;
    margin-left: 1vw;
    /* text-align: center; */
}

#map-container > img:not(:nth-child(1)) {
    width: 13vw;
    position: absolute;
    left: 0;
    opacity: 0.5;
}

#map-container img.active {
    /* border: 1px solid red; */
    opacity: 1;
}

#map-container > :nth-child(1) {
    width: 85vw;
}

#map-container > img:nth-child(3) {
    top: 24%;
}

#map-container > img:nth-child(4) {
    top: 48%;
}

#map-container > img:nth-child(5) {
    top: 72%;
}

.layer-image {
    width: 7vw;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}
.layer-image:hover {
    border-radius: 25px;
    border: 3px solid green;
}

.layer-image:nth-child(2) {
    top: 50%;
    left: 10%;
}

.layer-image:nth-child(3) {
    top: 18%;
    left: 28%;
}
