/* 
====== 
Variables 
======
*/

:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

nav {
    justify-content: center;
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    right: 0;
    border-left: 1px solid grey;
    background-color: white;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding-top: 70px;
    /* background-color: var(--primaryLightColor); */
}

nav ul {
    margin-top: 30px;
    border-top: 1px solid grey;
}
nav.active {
    transform: translateX(0);
}

nav ul > li {
    padding: 0.8rem;
    /* background-color: rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid grey;
}
nav ul > li:hover {
    /* background-color: thistle; */
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul > li > a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

#hamburger {
    z-index: 20;
}

#hamburger {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    border: 2px solid black;
    right: 30px;
    top: 20px;
    /* background-color: var(--primaryLightColor); */
    background-color: white;
}
#hamburger:hover {
    cursor: pointer;
}

.hamburger-line {
    height: 6px;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    background-color: black;
    transition: all 0.3s ease;
}
.hamburger-line:nth-child(1) {
    top: 20%;
}
.hamburger-line:nth-child(2) {
    top: 44%;
}
.hamburger-line:nth-child(3) {
    top: 68%;
}
.active > .hamburger-line:nth-child(1) {
    top: 44%;
    transform: rotate(-135deg);
    /* transform: rotate(-315deg); */
}
.active > .hamburger-line:nth-child(2) {
    transform: rotate(-45deg);
}
.active > .hamburger-line:nth-child(3) {
    top: 44%;
    transform: rotate(-45deg);
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.video-container h1 {
    position: absolute;
    top: 49%;
    left: 45%;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease;
}
.video-container.clicked h1 {
    opacity: 0;
}

.video-container > video {
    width: 100%;
    height: 100%;
}

.video-container > video:hover {
    cursor: pointer;
}

.map-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    transition: opacity 0.3s linear, transform 0.3s ease;
}
.map-menu.hide {
    opacity: 0;
    transform: translateY(-100vh);
}
.map-pulldown {
    width: 100px;
    height: 40px;
    transform: translateY(-25px);
    position: absolute;
    top: 0;
    left: 40vw;
    z-index: 1;
    opacity: 0;
    background-color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid black;
    padding: 1.5rem;
}
.map-pulldown:hover {
    cursor: pointer;
}
.map-pulldown.show {
    transform: unset;
    opacity: 1;
}
.pulldown-line {
    height: 6px;
    width: 55%;
    position: absolute;
    top: 50%;
    background-color: black;
}
.pulldown-line:nth-child(1) {
    left: 0;
    transform: rotate(30deg);
}
.pulldown-line:nth-child(2) {
    right: 0;
    transform: rotate(-30deg);
}

.map-menu h1 {
    font-size: 60px;
    color: mediumpurple;
    padding: 0.5rem;
    padding-left: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
    text-align: left;
}

.map-menu h3,
.map-menu p {
    text-align: left;
    padding: 0.2rem;
    padding-left: 1rem;
}

.categories-flex {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-container {
    width: 19vw;
    height: auto;
    padding: 1rem;
}
.category-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.category-container img {
    width: 100%;
    height: auto;
}

.category-container h3 {
    color: mediumpurple;
}

#map-container {
    position: relative;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
}

#map-container > img {
    /* width: 100vw;
    height: auto; */
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* left: -9999px;
    right: -9999px;
    margin: 0 auto; */
}

#map-container img.active {
    opacity: 1;
}

.picto-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 100%;
}

.picto-container {
    z-index: 10;
}
.picto-container.close {
    cursor: pointer;
}
.picto-container:hover {
    cursor: pointer;
}

.picto-container > img {
    /* width: 7vw;
    height: auto; */
    height: 14vh;
    width: auto;
    /* opacity: 0.7; */
    transition: opacity 0.5s ease;
    background-color: white;
    border-radius: 50%;
    border: 1px solid darkslateblue;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}

.picto-container > img:hover {
    border: 3px solid darkslateblue;
}

.picto-container > h4 {
    position: relative;
    /* width: 130%;
    left: -15%; */
    text-align: center;
    padding: 0.2rem;
    color: darkslateblue;
    background-color: white;
    border: 1px solid darkslateblue;
    border-radius: 5px;
}

.picto-container:nth-child(2) {
    top: 8%;
}
.picto-container:nth-child(3) {
    top: 29%;
}

.picto-container:nth-child(4) {
    top: 50%;
}
.picto-container:nth-child(5) {
    top: 72%;
}

.info {
    display: none;
    position: absolute;
    padding: 0.5rem;
    text-align: center;
    /* border: 2px solid red; */
}
.info:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.info.active {
    display: block;
    top: 35%;
    left: 20.1%;
    width: 8.7vw;
    height: 3.5%;
}
/* Gebäude */
.info:nth-of-type(2) {
    top: 28.5vh;
    left: 99.3vh;
    width: 19.5vh;
    height: 12.5%;
}
.info:nth-of-type(3) {
    top: 71vh;
    left: 99.3vh;
    width: 19.5vh;
    height: 8.5%;
}
/* Verkehr & Wege */
.info:nth-of-type(4) {
    top: 32.5vh;
    left: 98.7vh;
    width: 19.5vh;
    height: 6.5%;
}

.info:nth-of-type(5) {
    top: 40.5vh;
    left: 98.7vh;
    width: 19.5vh;
    height: 10%;
}
.info:nth-of-type(6) {
    top: 51.5vh;
    left: 98.7vh;
    width: 19.5vh;
    height: 8.6%;
}
/* Wirtschaft */
.info:nth-of-type(7) {
    top: 18.8vh;
    left: 99vh;
    width: 19.5vh;
    height: 10%;
}
.info:nth-of-type(8) {
    top: 31.8vh;
    left: 99vh;
    width: 19.5vh;
    height: 10.1%;
}
.info:nth-of-type(9) {
    top: 44.6vh;
    left: 99vh;
    width: 19.5vh;
    height: 10.2%;
}
/* Stadt Grün */
.info:nth-of-type(10) {
    top: 13vh;
    left: 98.7vh;
    width: 23vh;
    height: 10.2%;
}
.info:nth-of-type(11) {
    top: 36vh;
    left: 98.7vh;
    width: 23vh;
    height: 10.2%;
}
.info:nth-of-type(12) {
    top: 82.5vh;
    left: 98.7vh;
    width: 23vh;
    height: 10.2%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal p {
    padding: 0 1.5rem;
}

.modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.modal .modal-content {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
}

.modal .close-btn {
    font-size: x-large;
    padding: 0.5rem;
    padding-right: 1rem;
    text-align: right;
    color: red;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: darkslategray;
    color: white;
    padding: 0.8rem;
}

/* =============== DETAILS =================== */

.details {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    /* right: -100%; */
    right: -50vw;
    transition: transform 0.3s ease;
    z-index: 15;
    border: 3px solid rgb(221, 243, 96);
    background-color: white;
}

.details.open {
    transform: translateX(-100%);
}

.details-content {
    height: 100%;
}

.details-content.studentisches-wohnen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.details-content.studentisches-wohnen > img.dachaufsicht {
    /* max-width: 50%; */
    /* height: auto; */
    height: 40vh;
    max-width: 99%;
    object-fit: cover;
    flex-grow: 1;
}

.details-content.studentisches-wohnen > p {
    text-align: left;
    padding: 0 1rem;
}

.details-content .container {
    position: relative;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.details-content .container .combine {
    height: 100%;
    width: 60%;
    position: relative;
    flex-basis: 60%;
    flex-shrink: 0;
}
.details-content .container .combine img:nth-child(1) {
    height: 100%;
    width: 100%;
}
.details-content .container .combine img:nth-child(2) {
    position: absolute;
    top: 10vh;
    right: -10px;
    height: 50%;
    max-width: 50%;
}
.details-content .container p {
    padding: 0 1rem;
    text-align: left;
}

.details-content > .pagination {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.details-content .click {
    display: flex;
    align-items: center;
}
.details-content .click span {
    font-size: large;
    font-weight: bold;
}

.details-content .click .circle {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: space-between;
    margin: 0 1rem;
}
.details-content .click:hover {
    cursor: pointer;
}
.details-content .click:hover {
    cursor: pointer;
}

/* =============== MEDIA QUERIES =================== */
/* 
@media screen and (max-height: 720px) {
    .picto-container {
        font-size: small;
    }
    .picto-container h4 {
        bottom: -1vh;
    }
}

@media screen and (max-width: 1400px) {
    .picto-container {
        left: 5%;
    }
}

@media screen and (max-width: 900px) {
    #map-container {
        height: 70vh;
    }

    .picto-flex {
        position: fixed;
        flex-direction: row;
        top: 70vh;
        height: 30vh;
        width: 100%;
    }

    .picto-container {
    }

    .picto-container > img {
        width: 12vw;
        height: auto;
    }
} */

/* @media screen and (max-width: 1010px) {
    #map-container > img {
        transform: translateX(-100px);
    }
}

@media screen and (max-width: 880px) {
    #map-container > img {
        transform: translateX(-150px);
    }
} */
